.music-player {
  position: fixed;
  bottom: 20px; /* 화면 아래쪽에서 20px */
  right: 30px; /* 화면 오른쪽에서 20px */
  z-index: 999; /* 다른 요소 위에 표시 */
}

.music-toggle {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  background-color: rgba(230, 230, 250, 0.8); /* 연보라 배경 */
  border: none;
  border-radius: 50%; /* 원형 버튼 */
  width: 40px; /* 버튼 크기를 약간 키움 */
  height: 40px;
  font-size: 20px; /* 이모티콘 크기 조정 */
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* 그림자 */
  transition: background-color 0.3s ease; /* 호버 색상 변경 애니메이션 */
}

.music-toggle:hover {
  background-color: rgba(200, 200, 250, 0.9); /* 연보라 호버 색상 */
}
@media (max-width: 768px) {
  .music-toggle {
    width: 40px; /* 모바일에서 크기 줄이기 */
    height: 40px;
    font-size: 20px; /* 이모티콘 크기 줄이기 */
  }
  .music-player {
    position: fixed;
    top: 0px; /* 화면 아래쪽에서 20px */
    right: 0px; /* 화면 오른쪽에서 20px */
    z-index: 999; /* 다른 요소 위에 표시 */
  }
  
}