.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}

.image-more-wrap {
  position: relative;
  width: 100%;
  max-height: 60vh;
  overflow: hidden;
  margin: 0;
}

.image-more-wrap.is-more-view {
  max-height: none;
}

/* Gallery.css */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr)); /* 반응형으로 이미지 크기 조정 */
  gap: 2px;
  width: 100vw;
  margin: 0 auto;
}


.gallery-item {
  width: 100%;
  aspect-ratio: 3 / 4; /* 3:4 비율을 적용 */
  object-fit: cover; /* 사진이 영역에 맞게 채워짐 */
  cursor: pointer;
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.05); /* 마우스 오버 시 확대 효과 */
}

.pswp__img {
  max-width: 100%; /* 확대 시 원본 비율 유지 */
  max-height: 100%;
  object-fit: contain;
}

.white-gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.plus-button {
  margin-top: 15px;
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  background-color: #fff;
  cursor: pointer;
  font-size: 0.9rem;
  color: #333;
  text-align: center;
}

.plus-button:hover {
  background-color: #f0f0f0;
}
img {
  width: 100%;
  height: auto; /* 이미지 비율 유지 */
  object-fit: cover; /* 비율 유지하면서 가득 채우기 */
}
@media (max-width: 768px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr); /* 모바일에서 두 개씩 표시 */
    gap: 4px;
  }

  .plus-button {
    font-size: 0.8rem;
    padding: 6px 12px;
  }
  .gallery-container {
    padding: 10px; /* 모바일에서 여백 최소화 */
    width: 100%;
}
}
